[submodule "Carthage/Checkouts/Prelude"]
	path = Carthage/Checkouts/Prelude
	url = https://github.com/robrix/Prelude.git
[submodule "Carthage/Checkouts/Either"]
	path = Carthage/Checkouts/Either
	url = https://github.com/robrix/Either.git
[submodule "Carthage/Checkouts/Madness"]
	path = Carthage/Checkouts/Madness
	url = https://github.com/robrix/Madness.git
[submodule "Carthage/Checkouts/KaleidoscopeLang"]
	path = Carthage/Checkouts/KaleidoscopeLang
	url = https://github.com/bencochran/KaleidoscopeLang.git
[submodule "External/llvm"]
	path = External/llvm
	url = http://llvm.org/git/llvm.git
